extends layout.pug

block content

  article.portfolio-intro

    
    h1 Hey Let's make a web together!
    
    p Hi my name is Eden, those are projects that I did so far. I used different languages, data structure, design. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 

        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='My project image')
            h5= `${project.project_name}`
